
/*header begin*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    /*height: 400px;*/
    background: #EBEBEB;
}
.header{
    /*width: 100%;*/
}
.header .logo{
    width: 100%;
    height: 250px;
    /*background: aqua;*/
    background-image: url("../image/logo.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}


.header ul{
    list-style: none ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header .nav ul li {
    width: 70px;
    height: 55px;
    /*background: aquamarine;*/
    margin-right: 10px;
    /*文本居中*/
    text-align: center;
    line-height: 55px;
}

.header  .nav li:first-child{
    border-bottom: solid 2px orangered;
}
.header .nav-phone ul{
    list-style: none ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header .nav-phone .line{
    width: 100%;
    height: 1px;
    background: #303030;
    margin: 30px;
}
.header .nav-phone ul li {
    width: 100%;
    height: 1px;
    /*background: aquamarine;*/
    font-size: 14px;
    /*文本居中*/
    text-align: left;
    line-height: 55px;
    padding: 30px;

}
.header  ul li a{
    /*去掉超链接的下划线*/
    text-decoration: none;
    color:#505050 ;
}
.header  ul li:hover a{
    color: orangered;
    /*border-bottom:solid 2px orangered ;*/
}
.header .nav{
    width: 100%;
    height: 55px;
    background: #FFFFFF;

}
/*.header .nav-phone{*/
    /*width: 100%;*/
    /*height: auto;*/
    /*background: #FFFFFF;*/

/*}*/
/*header end*/

/*main begin*/


.main{
    width: 1142px;
    height: 530px;
    background: burlywood;
    /*居中*/
    margin: auto;
/*设置div排列方式*/
    display: flex;
    /*排列方向*/
    flex-direction: row;
    /*对齐方式center,flex-start,flex-end,space-around,space-between*/
    justify-content: space-between;
    /*行挤不开，自动换行*/
    flex-wrap: wrap;
    margin-top: 20px;
}
.main .main-left p{
    padding: 5px;

}
.main .main-left .bt1{
    text-align: center;
}
.main .main-left .bt1 a{
    font-size: 2.5em;
    color: black;
    text-decoration: none;
}
.main .main-left .bt2 {
    text-align: center;
    color: #959595;
    font-size: 14px;
}
.main .main-left .bt2 a{
    color: #E67E22;
    text-decoration: none;
}
.main .main-left .bt3 {
    color: #444443;

}

.main .main-left{
    width: 752px;
    height: 350px;
    background: #FFFFFF;
}
.main .main-right{
    width: 360px;
    height: 350px;
    background: cadetblue;
}

/*main end*/

/*footer begin*/
.footer{
    width: 100%;
    /*height: 300px;*/
    background: #202020;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer .footer-inner{
    width: 300px;
    height: 300px;
    /*background: #959595;*/
    color: #959595;
    padding: 30px;
    box-sizing: border-box;
    font-size: 24px;

}
.footer .line-seperate-long{
    width: 100%;
    height: 1px;
    background: #303030;
}
.footer .line-seperate-short{
    width: 30%;
    height: 1px;
    background: orange;
    margin-top: -1px;
}
.footer .footer-inner ul{
    list-style: none;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer .footer-inner ul li{
    font-size: 12px;
    /*color: #ebebeb;*/
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
.footer .footer-inner ul li:hover{
    background: #E67E22;
}

/*响应式布局*/

/*手机屏幕*/
@media all and (max-width: 750px){
    .footer .footer-inner{
        width: 100%;
        height: auto;
    }
    .header .nav{
        display: none;
    }
    .header .nav-phone {
        display: block;
        width: 100%;
        height: auto;
        background-image: url("../icons/list.svg");
        background-repeat: no-repeat;
        background-position: top;
        background-color: white;
    }
    .main .main-left{
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }
    .main .main-right{
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }
}
/*Ipad*/
@media all and (max-width: 970px) and (min-width: 750px){
    .footer .footer-inner{
        width: 450px;
    }
    .header .nav-phone{
        display: none;
    }
}
/*pc*/
@media all and (min-width: 970px){
    .header .nav-phone{
        display: none;
    }
}
/*footer end*/
