
/*header begin*/
body,ul{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    /*height: 400px;*/
    background: #EBEBEB;
}
.header{
    /*width: 100%;*/
}
.header .logo{
    width: 100%;
    height: 250px;
    /*background: aqua;*/
    background-image: url("../image/logo.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}


.header ul{
    list-style: none ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header .nav ul li{
    width: 70px;
    height: 55px;
    /*background: aquamarine;*/
    margin-right: 10px;
    /*文本居中*/
    text-align: center;

    line-height: 55px;

}
.header .nav ul li:first-child{
    border-bottom: solid 2px orangered;
}
.header .nav ul li a{
    /*去掉超链接的下划线*/
    text-decoration: none;
    color:#505050 ;
}
.header .nav ul li:hover a{
    color: orangered;
    /*border-bottom:solid 2px orangered ;*/
}
.header .nav{
    width: 100%;
    height: 55px;
    background: #FFFFFF;

}
/*header end*/

/*main begin*/


.main{
    width: 1142px;
    height: 400px;
    background: burlywood;
    /*居中*/
    margin: auto;
/*设置div排列方式*/
    display: flex;
    /*排列方向*/
    flex-direction: row;
    /*对齐方式center,flex-start,flex-end,space-around,space-between*/
    justify-content: space-between;
    /*行挤不开，自动换行*/
    flex-wrap: wrap;
    margin-top: 20px;
}
.main .main-left p{
    padding: 5px;

}
.main .main-left .bt1{
    text-align: center;
}
.main .main-left .bt1 a{
    font-size: 2.5em;
    color: black;
    text-decoration: none;
}
.main .main-left .bt2 {
    text-align: center;
    color: #959595;
    font-size: 14px;
}
.main .main-left .bt2 a{
    color: #E67E22;
    text-decoration: none;
}
.main .main-left .bt3 {
    color: #444443;

}

.main .main-left{
    width: 752px;
    height: 350px;
    background: #FFFFFF;
}
.main .main-right{
    width: 360px;
    height: 350px;
    background: cadetblue;
}
/*main end*/

/*footer begin*/
.footer{
    width: 100%;
    height: 300px;
    background: #202020;
}
/*footer end*/